<section>
  <div class="thumb-container">
    {% for category in site.data.settings.categories %}
      <a href="{{ site.github.url }}/{{ category.folder }}">
        <div class="thumb-unit" style="background-image: url({{ site.github.url }}/assets/img/categories/{{ category.folder }}/thumb.jpg)">
          <div class="thumb-overlay">
            <strong>{{ category.name }} <i class="fa fa-arrow-right" aria-hidden="true"></i></strong>
          </div>
        </div>
      </a>
    {% endfor %}
  </div>
</section>