<div class="thumb-container">
  {% assign projects = include.category | where_exp: "project", "project.id != '/index'" %}

  {% for project in projects %}
    <a href="{{ project.url | relative_url }}">
    <div class="thumb-unit" style="background-image: url({{ site.github.url }}/assets/img/{{ project.id }}/thumb.jpg)">
      <div class="thumb-overlay">
          <strong>{{ project.title }} <i class="fa fa-arrow-right" aria-hidden="true"></i></strong>
        </div>
      </div>
    </a>
  {% else %}
    There are currently no projects under "{{ page.title }}". Please check back in later!
  {% endfor %}
</div>